.filAndOrd{
    width: 90vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10%;
    margin-top: 15px;
}
.navContainer{
    background: rgb(17, 190, 193);
    background: radial-gradient(circle, rgba(67, 100, 131, 0.856) 0%, rgba(47,205,185,0.8239670868347339) 100%);
}