.wrapper {
  padding: 10px; /* Ajustar el espaciado interno según sea necesario */
  background: linear-gradient(32deg,#03a8f474,#07d33d67,#a7e77c63,#03a8f46a);
  border: 2px solid #ffffff; /* Borde sólido blanco */
  border-radius: 20px; /* Borde redondeado */
  text-align: center; /* Alineación del contenido al centro */
  font-weight: 1200;
  font-family: 'Press Start 2P', cursive; /* Fuente pixel art */
  margin: 30px 500px 20px 500px;
  box-shadow: 0 0 150px rgb(197, 239, 244)
  
  
}


.link{
    padding: 1em;
    text-align: center;
    text-decoration: none;
    font-size: large;
    font-weight: 900;
    color: rgb(14, 11, 15);
    text-shadow: 0px 2px 0px rgba(255, 255, 255, 0.81);
}

 .link:focus{
    color: rgb(0, 247, 238);
    font-weight: bold;
}



.button {
  display: inline-block;
    text-decoration: none;
    position: center;
    border: none;
    margin: 30px 0 20px 0;
    font-size: 14px;
    font-family: inherit;
    color: #fff;
    width: 15em;
    height: 5em;
    line-height: 2em;
    text-align: center;
    background: linear-gradient(90deg,#03a9f4,#77f441,#b2a005,#03a9f4);
    background-size: 300%;
    border-radius: 30px;
    z-index: 1;
  }
  
  .button:hover {
    animation: ani 8s linear infinite;
    border: none;
  }
  
  @keyframes ani {
    0% {
      background-position: 0%;
    }
  
    100% {
      background-position: 400%;
    }
  }
  
  .button:before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
    background: linear-gradient(90deg,#03a9f4,#8cf441,#47a3e0,#03a9f4);
    background-size: 400%;
    border-radius: 35px;
    transition: 1s;
  }
  
  .button:hover::before {
    filter: blur(20px);
  }
  
  .button:active {
    background: linear-gradient(32deg,#03a9f4,#07d33d,#a6e77c,#03a9f4);
  }

